.DailyVisitors {
  background-color: #e5e5e5;
}

.header {
  width: 100%;
  height: 65px; 
  background-color: white;  
  font-family: 'Roboto-Regular', 'Roboto';
  font-size: 14px;
  font-weight: 600;
  text-align: left;   
  padding: 23px 0px 20px 20px;
  border-bottom: 1px solid #e5e5e5;
  margin: 0 !important;
  color: #505050;
}

.histogram {
  width: 100%;
  font-family: 'Roboto-Regular', 'Roboto';
  font-size: 14px;
  font-weight: 600;
  height: 250px;
  background-color: white;
  padding: 29px 25px 25px 25px;    
}

.dailyvisit-select {
  position: relative;
  bottom: 11px;
  width: 91%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row; 
}

.custom-select {
  border: 1px solid #e5e5e5 !important;
  border-radius: 3px !important;
  font-family: 'Roboto-Regular', 'Roboto' !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  background: none !important;  
  padding: .375rem 1.55rem .375rem .75rem !important;
}

select {
  cursor: pointer !important;
}

.custom-option:hover {
  background-color: #e5e5e5;
}

.year-select {
  width: 100% !important;
}

.month-dropdown {
  padding-right: 0 !important;
  margin-right: -40px !important;
  padding-left: 47px !important;
}

.year-dropdown {
  padding-left: 52px !important;
}

.first {
  z-index: 999999999;
  width: 10px;
  height: 10px;
  position: relative;
  top: 1px;
  margin: 0 !important;
}

.second {
  z-index: 999999999;
  width: 10px;
  height: 10px;
  margin: 0 !important;
}

.third {
  z-index: 999999999;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  margin: 0 !important;
}

.month-caret-up {
  position: absolute;
  bottom: 38px;
  left: 133px;
  color: #B8B8B8;
}

.month-caret-down {
  position: relative;
  bottom: 26px;
  left: 86px;
  color: #B8B8B8;
}

.year-caret-up {
  position: relative;
  bottom: 33px;
  left: 67px;
  color: #B8B8B8;
}

.year-caret-down {
  position: relative;
  bottom: 26px;
  left: 60.5px;
  color: #B8B8B8;
}

.bar-height {
  display: block;
  width: 976px;
  height: 200px;
}