.DailyVisitors {
  background-color: #e5e5e5;
}

.header {
  width: 100%;
  height: 65px; 
  background-color: white;  
  font-family: 'Roboto-Regular', 'Roboto';
  font-size: 14px;
  font-weight: 600;
  text-align: left;   
  padding: 23px 0px 20px 20px;
  border-bottom: 1px solid #e5e5e5;
  margin: 0 !important;
}

.histogram {
  width: 100%;
  font-family: 'Roboto-Regular', 'Roboto';
  font-size: 14px;
  font-weight: 600;
  height: 250px;
  background-color: white;
  padding: 45px 25px 25px 25px;    
}

.abc {
  background-color: black;
}

.dailyvisit-select {
  position: relative;
  bottom: 11px;
  width: 91%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row; 
}

.custom-select {
  border: 1px solid #e5e5e5 !important;
  border-radius: 3px !important;
}

.custom-option:hover {
  background-color: #e5e5e5;
}
