.Dashboard {
     /* background-color: 	#f2f2f2; */
     /* width: 1295px; */
     /* height: 100vh; */
     /* border: 1px solid black; */
}

.sidebar{
  background-color: white;
  /* box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.17); */
  border: 1px solid #e5e5e5;
  display: flex;
  padding: 0px !important;
}

.navbar {
  padding: 0px !important;
}

.home-icon {
  /* border: 1px solid black; */
  margin: 0 !important;
  text-align: center;
}

.dashboard-title {
  text-align: left;
  font-family: 'Roboto-Regular', 'Roboto';
  font-size: 13px;
  font-weight: 600;
  /* border: 1px solid black; */
}

.language-selector {
  height: 40px;
  /* border: 1px solid black; */
}

.row {
  width: 100%;
  /* margin-right: 0px !important; */
}

.row-1 {
  justify-content: center;
  padding: 2.25rem 1.25rem 0rem 2rem;
  /* margin-right: 0px !important; */
  /* margin-left: 10px !important; */
}

.row-2 {
  justify-content: space-between;
  padding: 2.25rem 1.25rem 0rem 2rem;
  /* margin-left: 10px !important; */
}

.row-3 {
  justify-content: space-between;
  padding: 2.25rem 1.25rem 0rem 2rem;
  /* margin-left: 10px !important;   */
}

.main-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 0 !important;
}

.content {
  /* margin-right: 50px !important; */
  /* border: 1px solid black; */
  /* height: 100vh; */
  padding: 0px !important;
}

.daily-visitors {
  height: 300px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.17);
  border-radius: 4px;
  padding: 0 !important;
}

.realtime-users {
  background-color: white;
  width: 22.35%;
  height: 200px;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.17);
  border-radius: 4px;
  padding: 25px;
  margin-right: 1px;
}

.total-visits {
  background-color: white;
  height: 180px;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.17);
  border-radius: 4px;
}

.bounce-rate {
  background-color: white;
  height: 180px;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.17);
  border-radius: 4px;
} 

.visit-duration {
  background-color: white;
  height: 180px;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.17);
  border-radius: 4px;
}

.most-visited {
  background-color: white;
  width: 67.30%;
  height: 365px;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.17);
  border-radius: 4px;
  /* margin-right: 40px; */
}

.media-traffic {
  background-color: white;
  width: 29%;
  height: 365px;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.17);
  border-radius: 4px;
}

