.cutshort-navbar {
  border-bottom: 1px solid #e5e5e5;
}

.sidebar{
  background-color: white;
  border-right: 1px solid #e5e5e5;
  display: flex;
  padding: 0px !important;
}

.navbar {
  padding: 0px !important;
}

.home-icon {
  color: #989898;
  margin-top: 8px;
}

.custom-navbar-brand {
  padding: 0 3px 0 8px !important;  
  margin: 0 !important;
}

.navbar-line {
  width: 100%;
  border-right: 1px solid #e5e5e5;
  height: 40px;      
}

.dashboard-title {
  text-align: left;
  font-family: 'Roboto-Regular', 'Roboto';
  font-size: 13px;
  font-weight: 600;
}

.language-selector {
  height: 40px;
}

.row {
  width: 100%;
  margin-right: 0px !important;
}

.row-1 {
  justify-content: center;
  padding: 2.25rem 0.75rem 0rem 2.65rem;
}

.row-2 {
  justify-content: space-between;
  padding: 2.25rem 0.75rem 0rem 2.65rem;
}

.row-3 {
  justify-content: space-between;
  padding: 2.25rem 0.75rem 0rem 2.65rem;
}

.main-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 0 !important;
}

.content {
  padding: 0px !important;
}

.daily-visitors {
  height: 316px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.17);
  border-radius: 4px;
  padding: 0 !important;
}

.realtime-users {
  background-color: white;
  width: 22.35%;
  height: 200px;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.17);
  border-radius: 4px;
  padding: 25px;
  margin-right: 1px;
}

.total-visits {
  background-color: white;
  height: 180px;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.17);
  border-radius: 4px;
}

.bounce-rate {
  background-color: white;
  height: 180px;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.17);
  border-radius: 4px;
} 

.visit-duration {
  background-color: white;
  height: 180px;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.17);
  border-radius: 4px;
}

.most-visited {
  background-color: white;
  width: 67.30%;
  height: 390px;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.17);
  border-radius: 4px;
}

.media-traffic {
  background-color: white;
  width: 29%;
  height: 390px;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.17);
  border-radius: 4px;
}

canvas{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#chartjs-tooltip {
  opacity: 1;
  position: absolute;
  background: rgba(255, 255, 255, 1);
  color: black;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  transform: translate(20%, 0);
}

#chartjs-tooltip::after, #chartjs-tooltip::before {
  right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#chartjs-tooltip:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 5px;
	margin-top: -5px;
}
#chartjs-tooltip:before {
	border-color: rgba(229, 229, 229, 0);
	border-right-color: #e5e5e5;
	border-width: 7px;
	margin-top: -7px;
}

.chartjs-tooltip-key {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 5px;
}


.flag-select {
  position: relative;
  display: inline-block;
  vertical-align: inherit;
  text-align: left;
  left: 33px;
  margin-top: 3px !important;
  padding: 0 !important; 
  border-radius: 3px;
  border: 1px solid #e5e5e5 !important;
}

.flag-select:focus{
  outline:none !important;
}

.flag-select__btn {
  padding: 0 !important;
  color: #4d4d4d;
  border: none;
  background: transparent;
}

.flag-select__btn:before {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  padding: 1px 0px 0px 0px;
}

.flag-select__option__icon {
  width: 1.3em;
  height: 1.3em;
  position: relative;
  top: 1px !important;
}

.flag-select__option__label {
  font-size: 12px !important;
  font-family: 'Roboto-Regular', 'Roboto';
  font-weight: 600;
  top: 1.50px;
}

.flag-select__btn:after, .flag-select__btn[aria-expanded="true"]:after {
  content: " ";
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0 !important;
  margin-right: 6px !important;
}

.flag-select__options {
  position: absolute;
  z-index: 999999;
  border: 1px solid #e5e5e5  !important;
  border-radius: 3px;
  background: #fff;
  margin-top: 8px;
  padding: 6px 0 0 0;
  max-height: 160px;
  max-width: 83px;
  overflow: auto;
  overflow: scroll;
  overflow-x: hidden !important; 
  overflow-y: hidden !important;
}

@media screen and (min-width: 768px) and (max-width: 992px){
  .realtime-users {
    width: 100%; 
  }

  .most-visited {
    width: 100%;
  }
  .media-traffic {
    width: 100%;
  }

  .sidebar {
    display: none;
  }

 
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .realtime-users {
    width: 100%;  
  }
  .most-visited {
    width: 100%;
  }
  .media-traffic {
    width: 100%;
  }
}

