.Dashboard {
     /* background-color: 	#f2f2f2; */
     /* width: 1295px; */
     /* height: 100vh; */
     /* border: 1px solid black; */
}

.sidebar{
  background-color: white;
  /* box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.17); */
  border: 1px solid #e5e5e5;
  display: flex;
  padding: 0px !important;
}

.navbar {
  padding: 0px !important;
}

.home-icon {
  /* border: 1px solid black; */
  margin: 0 !important;
  text-align: center;
}

.dashboard-title {
  text-align: left;
  /* border: 1px solid black; */
}

.language-selector {
  height: 40px;
  /* border: 1px solid black; */
}

.row {
  width: 100%;
}

.row-2 {
  display: flex;
  justify-content: space-between;
}
.main-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 0 !important;
}

.content {
  /* margin-right: 50px !important; */
  /* border: 1px solid black; */
  /* height: 100vh; */
  padding: 0px !important;
}

.daily-visitors {
  height: 300px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.17);
  border-radius: 4px;
  padding: 0 !important;
}

.realtime-users {
  background-color: white;
  height: 180px;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.17);
  border-radius: 4px;
}

.total-visits {
  background-color: white;
  height: 180px;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.17);
  border-radius: 4px;
}

.bounce-rate {
  background-color: white;
  height: 180px;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.17);
  border-radius: 4px;
} 

.visit-duration {
  background-color: white;
  height: 180px;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.17);
  border-radius: 4px;
}

.most-visited {
  background-color: white;
  height: 100px;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.17);
  border-radius: 4px;
}

.media-traffic {
  background-color: white;
  height: 100px;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.17);
  border-radius: 4px;
}

