.heading-2 {
  height: 70px;
  font-family: 'Roboto-Regular', 'Roboto';
  font-size: 14px;
  font-weight: 600;
  padding: 25px 0px 23px 25px;
  text-align: left;
  color: #505050;
}

.table {
  margin: 0 !important;
}

.table th {
  font-family: 'Roboto-Regular', 'Roboto';
  font-size: 11px;
  font-weight: 600;
  text-align: left; 
  color: #A8A8A8;
  padding: 15px 0px 15px 25px !important;
  border-bottom: 1px solid #dee2e6 !important;    
}

.table td {
  font-family: 'Roboto-Regular', 'Roboto';
  font-size: 13px;
  font-weight: 600;
  text-align: left;
  color: #707070;
  padding: 23px 0px 15px 25px !important;
}

.unique-page-visits {
  width: 22%;  
}

.visitors {
  width: 14%;;
}

.page-name {
  width: 31%;
}


.line-common {
  width: 130px;
  height: 54px;
  position: relative;
  padding-left: 2.5rem;
  margin-top: -25px;
}

.ext-icon {
  text-align: right;
  color: grey;
}

.row-123 {
  height: 1px;
}