.Sidebar {
  width: 100%;
  height: 1025px; 
}

.profile-box {
  display: flex;
  height: 195px;
  border-bottom: 1px solid #e5e5e5;    
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-image {
  height: 90px;
  width: 90px;
  border-radius: 100px;
  position: relative;
  top: 7px;
}

.sidebar-wrapper-1 {
  display: flex;
  height: 34%;
  padding: 10px 20px 0px 20px;
  justify-content: flex-start;
}

.sidebar-wrapper-2 {
  height: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 90px 0px 0px 20px;
  font-family: 'Roboto-Regular', 'Roboto';
  font-size: 13px;
  font-weight: 600;
  color: #585858;
  border-bottom: 1px solid #e5e5e5;
}

.sidebar-wrapper-3 {
  height: 60px;
  font-family: 'Roboto-Regular', 'Roboto';
  font-size: 15px;
  font-weight: 500;
  padding: 20px 0px 0px 20px;
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0px ;
  margin: 0px !important;
  text-align: left;
  width: 180px;
  height: 100px;
}

li {
  margin: 0px !important;
  padding: 14px 0px 0px 0px;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  font-family: 'Roboto-Regular', 'Roboto';
  font-size: 13px;
  font-weight: 600;
  vertical-align: middle;
  color: #585858;
  cursor: pointer;
}

.user-name {
  font-family: 'Roboto-Regular', 'Roboto';
  font-size: 13px;
  font-weight: 600;
  color: #585858;
  position: relative;
  top: 16px;
}

.user-role {
  font-family: 'Roboto-Regular', 'Roboto';
  font-size: 13px;
  font-weight: 600;
  color: #A8A8A8;
  position: relative;
  top: 15px;
}

.f-arrow-1 {
  position: relative;
  left: 44px;
  color: #B8B8B8;
}

.f-arrow-2 {
  position: relative;
  left: 88px;
  color: #B8B8B8;
}

.f-arrow-3{
  position: relative;
  left: 14px;
  color: #B8B8B8;
}

.block {
  padding: 0px 0px 20px 0px;
  width: 180px;
  text-align: left;
  color: #696969;
}

.block-1{
  font-family: 'Roboto-Regular', 'Roboto';
  font-size: 12px;
  font-weight: 600;
  color: #A0A0A0;
}

/* .block-2 {
  text-align: left;
} */

.sidebar-icons {
  vertical-align: middle;
  margin-right: 9px;
  color: #989898;
  width: 1em;
  height: 1em;
}

.page-details-1 {
  font-family: 'Roboto-Regular', 'Roboto';
  font-size: 13px;
  font-weight: 600;
  color: #787878;
}

.page-details-2 {
  font-family: 'Roboto-Regular', 'Roboto';
  font-size: 13px;
  font-weight: 600;
  color: #585858;
}

.page-details-3 {
  font-family: 'Roboto-Regular', 'Roboto';
  font-size: 13px;
  font-weight: 600;
  color: #989898;
  width: 10px;
}

.settings {
  z-index: 1;
  position: absolute;
  top: 100px;
  right: 57px;
  background-color: white;
  width: 35px;
  height: 35px;
  padding: 10px 0px 0px 0px;
  border-radius: 30px;
  text-align: center;
  color: #989898;
}

.asd {
  background-color: black;
  width: 100px;
  height: 100px;
}

.collapse-items {
  font-family: 'Roboto-Regular', 'Roboto';
  font-size: 13px;
  font-weight: 600;
  color: #989898;
  padding: 0px 0px 0px 0px;
  margin-top: 10px;
  cursor: pointer;
}

.collapse-items:hover {
  color: #0000FF;
}

.dashboard-sidebar {
  color: #585858; 
}

.dashboard-sidebar:hover {
  color: #585858; 
  text-decoration: none; 
}

.dropdown-caret {
  background-color: black;
  width: 100px;
  height: 100px;  
}

.collapse-data {
  padding: 18px 0px 0px 0px;
}

.dropdown-arrow {
  padding: 0px 0px 3px 3px;
  margin: 0px 0px 0px 55px;
}

.lab-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  margin: 0px 14px 0px 2px;
  color: #989898;
}

.inbox-caret-up {
  position: relative;
  bottom: 4px;
  left: 100px;
  color: #B8B8B8;
}

.inbox-caret-down {
  position: relative;
  top: 4px;
  left: 94px;
  color: #B8B8B8;
}

.online {
  width: 6px;
  height: 6px;
  background-color: green;
  border-radius: 10px;
  position: absolute;
  top: 6px;
  left: 83px;
}

.dash {
  position: relative;
  bottom: 20px;
  left: 36px;
}

/* 
.profile-image-box {
  position: relative;
  top: 10px;
} */