.Sidebar {
  width: 100%;
  height: 983px;
}

.profile-box {
  display: flex;
  height: 200px;
  border-bottom: 1px solid #e5e5e5;    
  justify-content: center;
  align-items: center;
}

.profile-image {
  /* border: 1px solid black; */
  height: 110px;
  width: 110px;
  border-radius: 100px;
}

.sidebar-wrapper {
  display: flex;
  /* border: 1px solid black; */
  height: 34%;
  padding: 10px 10px 0px 10px;
  justify-content: flex-start;
}

.sidebar-wrapper-2 {
  /* border: 1px  solid black; */
  height: 350px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px 0px 20px 10px;
  font-family: 'Roboto-Regular', 'Roboto';
  font-size: 13px;
  font-weight: 600;
  color: #585858;
}

.sidebar-wrapper-3 {
  /* border: 1px solid black; */
  height: 100px;
  font-family: 'Roboto-Regular', 'Roboto';
  font-size: 15px;
  font-weight: 500;
  padding: 30px 0px 25px 20px;
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0px ;
  margin: 0px !important;
  text-align: left;
  width: 180px;
  height: 100px;
}

li {
  margin: 0px !important;
  padding: 22px 0px 22px 0px;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  font-family: 'Roboto-Regular', 'Roboto';
  font-size: 13px;
  font-weight: 600;
  vertical-align: middle;
  color: #585858;
  /* line-height: 20px; */
    /* border: 1px solid black; */
}

.user-name {
  font-family: 'Roboto-Regular', 'Roboto';
  font-size: 13px;
  font-weight: 600;
  color: #585858;
}

.user-role {
  font-family: 'Roboto-Regular', 'Roboto';
  font-size: 13px;
  font-weight: 600;
  color: #585858;
}

.f-arrow {
  position: absolute;
  right: 25px;
  top: auto;
}

.block {
  padding: 0px 0px 20px 0px;
  width: 180px;
  text-align: left;
}

.block-1{
  font-family: 'Roboto-Regular', 'Roboto';
  font-size: 13px;
  font-weight: 600;
  color: #989898;
}

.sidebar-icons {
  vertical-align: middle;
  margin-right: 9px;
}

.page-details-1 {
  font-family: 'Roboto-Regular', 'Roboto';
  font-size: 13px;
  font-weight: 600;
  color: #787878;
}

.page-details-2 {
  font-family: 'Roboto-Regular', 'Roboto';
  font-size: 13px;
  font-weight: 600;
  color: #585858;
}

.page-details-3 {
  font-family: 'Roboto-Regular', 'Roboto';
  font-size: 13px;
  font-weight: 600;
  color: #989898;
  width: 10px;
}
