.heading-3 {
  height: 70px;
  font-family: 'Roboto-Regular', 'Roboto';
  font-size: 14px;
  font-weight: 600;
  padding: 25px 0px 23px 25px;
  text-align: left;
  color: #505050;
}

.network {
  width: 30%;    
}

.progress {
  height: 6px !important;
  width: 103px;
  position: relative;
  left: 20px;
  top: 5px;
}

.table-row {
  height: 70px;
}